body{
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}

h1{
  font-family: 'Pacifico', cursive;
  margin-top: 0;
}

h2{
  font-family: 'Montserrat', sans-serif;
}

h3{
  font-family: 'Montserrat', sans-serif;
}

.top-container{
  background-color: #c7f0db;
  padding-top: 100px;
  position: relative;
  }

.middle-container{
  background-color: #c7f0db;
  padding-top: 100px;
  position: relative;

}

.bottom-container{
  background-color: #c7f0db;
  padding-top: 100px;
  position: relative;
}

.sub{
  text-decoration: underline;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud{
  bottom: 300px;
  left: 300px;
  position: absolute;
  }

.mypicture{
  border-radius: 50%;
}

.webprogramming{
  height: 250px;
  width: 250px;

}
